body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
/* NAVBAR------------------------------------------ */
.containerNav{
	max-width:1238px;
	margin:auto;
}
#navbar  li{
/*	transition: all 0.2s; */
}
#navbar  li:hover {
/*	transform: rotate(-10deg);*/
	background-color: #e7e7e7;
	color: #555;
}
.navbar-wrapper button {
	top:5px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.nav-sidebar {
  display: none;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/* CAROUSEL-------------------------------------------------- */
.carousel {
  top:0;
  height: 257px;
  max-width:1038px;
  margin:auto;
}
.carousel-caption p:nth-child(3) {
	text-align:center;
}
.carousel .item {
  height: 257px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 257px;
}
/* MARKETING-------------------------------------------------- */
.breadcrumb{
	 max-width:1238px;
	 margin:auto;
	 border-radius:0px 0px 5px 5px;
}
.row {
	margin-top: 15px;
	margin-bottom: 15px;
}
.col-md-4 .content h2{
	position:relative;
	left:2px;
	top:25px;
	max-width:482px;
	margin:auto;
	color:white;
}
.col-md-4 p  {
	max-width:482px;
	height:135px;
}
.col-md-4 img {
	height:135px;
	width:100%;
	border-radius:5px;
}
.col-md-4 h2 {
  font-weight: normal;
  font-size:14pt;
}
.descriz{
  vertical-align:bottom;
  z-index: 10;
  color:#fff;
  width:100%;
  height:50px;
  position:relative;
  left:0px;
  top:-50px;
  max-width:482px;
  margin:auto;
  text-align:center;
  border-radius:0px 0px 5px 5px;
  background: #393030; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to top,#393030, rgba(0, 0, 0, 0.35)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top,#393030, rgba(0, 0, 0, 0.35)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top,#393030, rgba(0, 0, 0, 0.35));/* For Firefox 3.6 to 15 */
  background: linear-gradient(to top,#393030, rgba(0, 0, 0, 0.35)); /* Standard syntax (must be last) */
}
.prezzo{
  vertical-align: bottom;
  z-index: 10;
  color: #fff;
  width: 100%;
  height: 23px;
  position: relative;
  left: 82px;
  top: -175px;
  max-width: 75px;
  margin: auto;
  text-align: center;
  border-radius:5px 5px 5px 5px;
  background: #393030; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to top,#393030, rgba(0, 0, 0, 0.35)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top,#393030, rgba(0, 0, 0, 0.35)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top,#393030, rgba(0, 0, 0, 0.35));/* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#393030, rgba(0, 0, 0, 0.35)); /* Standard syntax (must be last) */
}
.content{
	max-width: 482px;
	margin: auto;
	height: 150px;
}
#da{
	height:130px;
}
.espositore{ /*tag-cloud img*/
	margin-top:5px;
	max-width:100%;
	height:250px;
	background-image:url("img/wordle.png");
	background-size:contain;
	background-position:0px 35px;
}
.container-fluid{
	padding-right:0;
	padding-left:0;
}
/* RESPONSIVE CSS-------------------------------------------------- */
@media (min-width: 768px) {

  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .navbar {
      margin-bottom:0px;
	  border-radius:5px 5px 0px 0px;
	  padding-right: 10px;
      padding-left: 10px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.4;
	text-align:left;
  }
  .nav-sidebar {
	  margin-right: -21px;
	  margin-bottom: 20px;
	  margin-left: -20px;
	  display:block;
}

}
@media (min-width: 992px) {
}



