body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
/* NAVBAR------------------------------------------ */
.containerNav{
	max-width:1238px;
	margin:auto;
}
/*.overf{
	overflow:hidden;  
}*/
#navbar  li{
/*	transition: all 0.2s; */
}
#navbar  li:hover {
/*	transform: rotate(-10deg);*/
	background-color: #e7e7e7;
	color: #555;
}
.navbar-wrapper button {
	top:5px;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
/* MARKETING-------------------------------------------------- */

.jumbotron{
 margin: 50px auto 50px auto;
 border-radius:25px !important;
 box-shadow: 0px 0px 5px #888888;
}
.social .btn{
	margin:auto;
	width: 49%;
	overflow-x:auto;
	border-radius:0px;
}


/* RESPONSIVE CSS-------------------------------------------------- */
@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .navbar {
      margin-bottom:0px;
	  border-radius:5px 5px 0px 0px;
	  padding-right: 10px;
      padding-left: 10px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.4;
	text-align:left;
  }
}
@media (min-width: 992px) {
}
