@CHARSET "UTF-8";

body {
	padding-bottom: 40px;
	color: #5a5a5a;
	overflow-x: hidden;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.content {
	margin: 0;
	padding: 15px;
}
.flex-rev {
	flex-direction: column;
}
img {
	object-fit: contain;
}
a {
	cursor: pointer;
}
.tip {
	cursor: help;
}
.disabled.tip {
	cursor: not-allowed;
}
/** LOGO **/
@font-face {
    font-family: 'Matrix';
    src:url('../fonts/Matrix.ttf.woff') format('woff'),
        url('../fonts/Matrix.ttf.svg#Matrix') format('svg'),
        url('../fonts/Matrix.ttf.eot'),
        url('../fonts/Matrix.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
.logo, .navbar-brand {
	font-family: 'Matrix';
	font-size: 36pt;
	text-shadow: 0px 0px 4px;
}
/** NAVBAR **/
.navbar, .breadcrumb {
	margin-bottom: 0;
}
.dropdown-menu {
	background: rgba(255,255,255,.9);
}
.dropdown-menu > li > a:hover {
	/*background-color: rgba(82, 148, 226, 1.0);
	color: #fff;*/
	background-color: transparent;
	color: #000;
}
.dropdown-menu > li.active > a, .dropdown-menu > li.active > a:hover {
	background: rgba(191, 191, 191, 0.32);
	color: #000;
	font-style: italic;
}

/** BREADCRUMB **/
.breadcrumb .right {
	float: right;
}
.breadcrumb .right::before, .breadcrumb .right::after {
	content: none;
}
.content .breadcrumb {
	margin-top: 15px;
}

/** SIDEBAR **/
.sidebar {
	position: absolute;
	padding-top: 1.3em;
}
.nav > .divider {
    border-bottom: 1px #ddd solid;
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
    color: #777;
    font-size: small;
    font-weight: bold;
}
.nav .nav {
	padding-left: 1em;
}
/** CAROUSEL **/
.carousel .btn {
	background-color: rgba(255,255,255,0.1);
	border: 1px solid #fff;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.3);
	color: #fff;
}
.carousel .btn:hover {
	background-color: rgba(255,255,255,0.2);
}
.carousel .btn.btn-primary {
	background-color: rgba(255,255,255,0.9);
	box-shadow: #000 4px;
	color: RGBA(0, 0, 0, 0.5);
	text-shadow: none;
}
.carousel .btn-primary:hover {
	background-color: #fff;
}
.carousel-caption {
	z-index: 10;
}
.carousel-caption, .carousel .btn {
	text-shadow: 0 1px 4px rgba(0,0,0,.9);
}
.carousel a.seamless, a.seamless:hover, a.seamless:focus {
	color: #fff;
	text-decoration: none;
}
.carousel, .carousel .item{
    max-height: 350px;
}
.img-flex {
	height: 100%;
}
.img-flex > img{
	width: 100%;
}
.carousel .item.active .img-flex, .carousel .item.next .img-flex, .carousel .item.prev .img-flex, .flex {
   	display: flex;
	align-items: center;
	justify-content: stretch;
	overflow: hidden;
}
.carousel .item > .container {
	padding: 0;
	width: 0;
} 
/* Main carousel */
#maincarousel {
	margin-bottom: 2em;
}
#maincarousel .item {
	background-color: #777;
}
#maincarousel .carousel-indicators {
	bottom: -1px;
}
/* Subpage main carousel */
.container #maincarousel, .container-fluid #maincarousel, .container #maincarousel .item, .container-fluid #maincarousel .item {
	/*margin-left: -15px;
	margin-right: -15px;*/
}

/** FOOTER **/
#footlinks {
	text-align: center;
}
#footlinks > .left, #footlinks > .right {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 15px;
}
#footlinks > .right {
	float: right;
}
#footlinks > div {
	clear: both;
}
#footlinks > .left > .btn, #footlinks > .right > .btn {
	width: 100%;
}
/** TAG CLOUDS **/
.tagcloud { text-align: center; word-spacing: 2em; }
.tagcloud .tag-popularity-1 { font-size: 85%; }
.tagcloud .tag-popularity-2 { font-size: 95%; }
.tagcloud .tag-popularity-3 { font-size: 100%; }
.tagcloud .tag-popularity-4 { font-size: 120%; }
.tagcloud .tag-popularity-5 { font-size: 160%; }
.tagcloud .tag-popularity-6 { font-size: 210%; }
.tagcloud .tag-popularity-7 { font-size: 230%; }
.tagcloud .tag-popularity-8 { font-size: 250%; }

/** TAG EDITOR **/
.tageditor {
	border: 1px solid rgb(221, 221, 221);
	padding: 4px;
}
.tageditor .tag {
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	padding: 2px;
	background: rgb(238, 238, 238) none repeat scroll 0% 
}
.tageditor input {
	min-width: 3em;
	border: medium none;
	background: transparent none repeat scroll 0% 0%;
}
.tageditor .dropdown {
	display: inline-block;
}
.tageditor a, .tageditor a:hover, .tageditor a:focus {
	color: #777;
	text-decoration: none;
}
/** HUBS **/
#filter {
	margin-top: -30px;
	background: #eee;
}
#filter .content {
	padding: 0.5em;
}
#filter input[value], #filter input[placeholder] {
	width: 100%;
}
.feed {
	padding-top: 1em;
	padding-bottom: 0.5em;
}
.feed .title {
	font-size: large;
}
.feed .head, .feed .foot {
	color: #999;
	font-size: small;
}
.feed .desc {
	/*min-height: 4.1em;*/
	padding: 0;
}
.feed .foot {
	margin-top: 1em;
}
.feed .media-left {
	padding: 6px 12px 6px 6px
}
.media > div:first-child > a {
	box-shadow: 0 0 4px #000;
	width: 64px;
}
.media > div:first-child > a > img {
	height: 64px;
}
/*.gallery > a.flex {
	height: 25vw;
}*/
.modal-body > img {
	width: 100%;
}

.loading.row {
	min-height: 24px;
	background-image: url("../assets/loading.gif");
	background-position: center bottom;
	background-repeat: no-repeat;
}

/** FORMS **/
p.form-control {
    box-shadow: none;
    border: none;
    margin-left: 0;
    padding-left: 0;
}
div.form-control {
	height: auto;
}
/** MARKETING **
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/** FEATURETTES **
.featurette-divider {
	margin: 80px 0;
}
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}
*/
/*** CLASSES ***/
/* vpos-XX */


/*** RESPONSIVE ***/
/* Phone & Tablet */
@media ( max-width : 992px) {
	body > #maincarousel {
		margin-bottom: 1px;
	}
	/*.carousel .item.next {
		width: auto !important;
	}*/
	.navbar-form {
		padding-left: 0;
		padding-right: 0;
	}
	/*aside {
		display: none;
	}*/
	.col-md-6, .content {
		padding: 0;
	}
	.feed {
		border-bottom: #999 solid 1px;
	}
	.gallery.feed {
		border-bottom: none;
	}
	#filter {
		background: none;
	}
	#filter .row {
		background: #eee;
		margin: auto -15px;
	}
}

/* Tablet & PC */
@media ( min-width : 768px) {
	/* Bump up size of carousel content */
	#maincarousel .carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}
	.featurette-heading {
		font-size: 50px;
	}
	
	/* #maincarousel .item {
		height: 375px;
	}
	.container #maincarousel .item, .container-fluid #maincarousel .item {
		height: 275px;
	}
	/*#maincarousel .item img {
	    position: absolute;
	    width: 100%;
	}*/	
}

/* PC */
@media ( min-width : 992px) {
	#maincarousel, #maincarousel .item {
		max-height: 35vh;
		height: 35vw;
	}
	#maincarousel.tall, #maincarousel.tall .item {
		max-height: 50vh;
	}
	/*.featurette-heading {
		margin-top: 120px;
	}
	.container #maincarousel, .container-fluid #maincarousel {
		margin: auto -15px;
	}
	#filter > .row:first-child > div > .content {
		margin-top: -15px;
	}*/
}

/* Printing */
@media print {
	.print-off, aside, .breadcrumb, #footlinks, .carousel-inner > .item img, .carousel > .left-carousel-control, .carousel > .right-carousel-control, #footlinks, input {
		display: none !important;
	}
	.print, .print-on, input[value], input[checked] {
		display: inherit;
	}
	.carousel-indicators > li {
		border-color: #777;
	}
	.carousel-indicators > li.active {
		border-color: #000;
		border-width: 2px;
	}
}

/* Non-printing */
@media screen {
	.print-only {
		display: none;
	}
}