.navbar-brand{
	vertical-align:middle;
}
img{
	border-radius:10px;
}
#myCarousel{
	margin-bottom:5px;
	width:100%;
}
.row-marketing,.row-marketing .carousel-caption{
	text-align:left;
	vertical-align:top;
	font-weight:bold;
}
.contatto{
	background:url("../img/contact.jpg") repeat 0 0;
	background-size:100% 100%;
	height:135px;
	border-radius:5px;
	margin-bottom:5px;
}
.protagonista{
	background:url("../img/protagonist.png")  repeat 0 0;
	background-size:100% 100%;
	height:135px;
	border-radius:5px;
	margin-bottom:5px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img{
	width:100%;
	max-height:478px;
}


/*
.rettangoli,#myCarousel2,#myCarousel2 img,#myCarousel3,#myCarousel3 img {
	width:482px;
	height:135px;
}
*/
/*
@media all and (orientation:portrait) { … }
@media all and (orientation:landscape) { … }
@media (max-width: 1024px) {}
*/
